<!DOCTYPE html>
<html lang="en">
<head>
    <!-- inicio meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- inicio links -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- inicio scripts -->
    <script src="https://kit.fontawesome.com/0d2552a540.js" crossorigin="anonymous"></script>
    
    
    <title>Portal de Notícias</title>

</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <h2>
                    <a href="/">
                        <span style="font-weight: lighter;">Codificadores</span>Newsletter
                    </a>
                </h2>
            </div>
            <!-- /.logo -->
            <div class="search-form">
                <form action="/">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="busca" id="" placeholder="Buscar...">
                </form>
            </div>
            <!-- /.search-form -->
        </div>
        <!-- /.center -->
    </header>