<%- include('partials/header.html') %>

    <section class="other-news">
        <div class="title-other-news">
            <h2>Busca:</h2>
            <div class="center">
                
                <div style="width: 100%;" class="most-read">
                    <h3>33 resultados</h3>
                    <div class="most-read-news">
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                    </div>
                    <!-- /.most-read-news -->
                </div>
                <!-- /.most-reads -->
            </div>
            <!-- /.center -->
        </div>
        <!-- /.title-other-news -->
    </section>
    <!-- /.other-news -->

    <%- include('partials/footer.html') %>
</body>
</html>