<%- include('partials/header.html') %>

    <section class="news-highlight">
        <div class="center">
            <div class="highlight-img">
                <div class="highlight-overlay"></div>
                <!-- /.highlight-overlay -->
                <div class="highlight-title-description">
                    <h2>Quer fugir das praias no verão?</h2>
                    <p>Cillum officia nulla sit velit incididunt amet esse do dolor minim eu. Qui sunt amet id proident dolor. Ut nisi Lorem dolor nisi ullamco occaecat aute ad irure adipisicing dolore proident.</p>
                </div>
                <!-- /.highlight-title-description -->
                <img src="../public/images/landscape.jpeg" alt="landscape image" >
            </div>
            <!-- /.hightlight-img -->
        </div>
        <!-- /.center -->
    </section>
    <!-- /.news-highlight -->

    <section class="other-news">
        <div class="title-other-news">
            <h2>Últimas Notícias</h2>
            <div class="center">
                <div class="latest">
                    <div class="box-latest-single">
                        <img src="../public/images/surf.jpeg" alt="" />
                        <div class="single-description">
                            <h3>Natureza e Geral</h3>
                            <h2>Como encarar o surf mesmo no frio</h2>
                            <p>Qui ullamco nulla nulla adipisicing labore aliqua exercitation aliquip cillum. Quis aliquip quis velit adipisicing elit ad. Nulla duis esse ex nulla duis. Incididunt duis minim exercitation Lorem pariatur tempor in cupidatat laboris. Aute nisi irure irure adipisicing dolore consequat ut culpa.</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                        <!-- /.single-description -->
                        </div>
                    <!-- /.box-latest-single -->
                    <div class="box-latest-single">
                        <img src="../public/images/surf.jpeg" alt="" />
                        <div class="single-description">
                            <h3>Natureza e Geral</h3>
                            <h2>Como encarar o surf mesmo no frio</h2>
                            <p>Qui ullamco nulla nulla adipisicing labore aliqua exercitation aliquip cillum. Quis aliquip quis velit adipisicing elit ad. Nulla duis esse ex nulla duis. Incididunt duis minim exercitation Lorem pariatur tempor in cupidatat laboris. Aute nisi irure irure adipisicing dolore consequat ut culpa.</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                        <!-- /.single-description -->
                        </div>
                    <!-- /.box-latest-single -->
                </div>
                <!-- /.latest -->
                <div class="most-read">
                    <h3>Mais Lidas</h3>
                    <div class="most-read-news">
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                        <div class="read-news-single">
                            <img src="../public/images/natureza.jpeg" alt="">
                            <div class="news-single-text">
                                <h4>Natureza</h4>
                                <p>Non occaecat exercitation exercitation ad ad aliquip qui sit ullamco aute.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                    </div>
                    <!-- /.most-read-news -->
                </div>
                <!-- /.most-reads -->
            </div>
            <!-- /.center -->
        </div>
        <!-- /.title-other-news -->
    </section>
    <!-- /.other-news -->

    <%- include('partials/footer.html') %>
</body>
</html>