<%- include('partials/header.html') %>

    <section class="news-highlight">
        <div class="center">
            <div class="highlight-img">
                <div class="highlight-overlay"></div>
                <!-- /.highlight-overlay -->
                <div class="highlight-title-description">
                    <a href="<%= posts[0].slug %>">
                        <h2><%= posts[0].title %></h2>
                    </a> 
                    <p><%- posts[0].shortDesc %>...</p>
                </div>
                <!-- /.highlight-title-description -->
                <img src="../public/images/landscape.jpeg" alt="landscape image" >
            </div>
            <!-- /.hightlight-img -->
        </div>
        <!-- /.center -->
    </section>  
    <!-- /.news-highlight -->

    <section class="other-news">
        <div class="title-other-news">
            <h2>Últimas Notícias</h2>
            <div class="center">
                <div class="latest">
                    <% for(let i = 1; i < posts.length; i++) { %>

                    
                    <div class="box-latest-single">
                        <img src="<%= posts[i].image %>" alt="" />
                        <div class="single-description">
                            <h3><%= posts[i].category %></h3>
                            <h2><%= posts[i].title %></h2>
                            <p><%- posts[i].shortDesc %>...</p>
                            <a href="<%= posts[i].slug %>">Saiba mais</a>
                        </div>
                        <!-- /.single-description -->
                    </div>
                    <!-- /.box-latest-single -->
                
                    <% } %>
                </div>
                <!-- /.latest -->
                
                <div class="most-read">
                    <h3>Mais Lidas</h3>
                    <div class="most-read-news">
                        <% for(let i = 0; i < topPosts.length; i++) { %>
                        <div class="read-news-single">
                            <img src="<%= topPosts[i].image %>" alt="">
                            <div class="news-single-text">
                                <h4><%= topPosts[i].title %></h4>
                                <p><%- topPosts[i].shortDesc %>... - 
                                    <span style="font-size: 12px; font-weight: bold;">
                                        (<%= topPosts[i].views %> views)
                                    </span>
                                </p>
                                <a href="<%= topPosts[i].slug %>">Saiba mais</a>
                            </div>
                            <!-- /.news-single-text -->
                        </div>
                        <!-- /.read-news-single -->
                        <% } %>
                        
                    </div>
                    <!-- /.most-read-news -->
                </div>
                <!-- /.most-reads -->
            </div>
            <!-- /.center -->
        </div>
        <!-- /.title-other-news -->
    </section>
    <!-- /.other-news -->

    <%- include('partials/footer.html') %>
</body>
</html>