    <%- include('partials/header.html') %>

    <section class="news">
        <div class="center">
            <div class="news-single">
                <h2><%= news.title %></h2>
                <div class="about-author">
                    <img src="<%= news.authorImage %>" alt="">
                    <span>Por <%= news.author %></span>
                </div>
                <!-- /.author-name -->

                <div>
                    <img style="min-width: 100%; max-width: 100%; margin-bottom: 15px;" src="<%= news.image %>" alt="news image" >
                </div>
                <%- news.content %>
            
                </div>
            <!-- /.news-single -->
            <div class="most-read">
                <h3>Mais Lidas</h3>
                <div class="most-read-news">
                    <% for(let i = 0; i < topPosts.length; i++) { %>
                    <div class="read-news-single">
                        <img src="<%= topPosts[i].image %>" alt="">
                        <div class="news-single-text">
                            <h4><%= topPosts[i].title %></h4>
                            <p><%- topPosts[i].shortDesc %>... - 
                                <span style="font-size: 12px; font-weight: bold;">
                                    (<%= topPosts[i].views %> views)
                                </span>
                            </p>
                            <a href="<%= topPosts[i].slug %>">Saiba mais</a>
                        </div>
                        <!-- /.news-single-text -->
                    </div>
                    <!-- /.read-news-single -->
                    <% } %>
                    
                </div>
                <!-- /.most-read-news -->
            </div>
            <!-- /.most-reads -->
        </div>
        <!-- /.center -->
    </section>
    <!-- /.news -->

    <%- include('partials/footer.html') %>

    </body>
</html>